<header class="top-header">
  <div class="header_top">

    <div class="container">
      <div class="row">
        <div class="logo_section">
          <a class="navbar-brand" routerLink='/'><img src="../../assets/images/logo.png" alt="image"></a>
        </div>
        <div class="site_information">
          <ul>
            <li><a href="mailto:exchang@gmail.com"><img src="../../assets/images/mail_icon.png" alt="#" />exchang@gmail.com</a></li>
            <li><a href="tel:exchang@gmail.com"><img src="../../assets/images/phone_icon.png" alt="#" />+21644388490</a></li>
            <li><a class="join_bt" routerLink='/login'>Join us</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="header_bottom">
    <div class="container">
      <div class="col-sm-12">
        <div class="menu_orange_section" style="background: #ff880e;">
          <nav class="navbar header-nav navbar-expand-lg">
            <div class="menu_section">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                  <li><a class="nav-link" routerLink='/'>Acceuil</a></li>
                  <li><a class="nav-link" routerLinkActive="active" routerLink='/about'>À propos</a></li>
                  <li><a class="nav-link" routerLinkActive="active" routerLink='/exchange'>Échange</a></li>
                  <li><a class="nav-link" routerLinkActive="active" routerLink='/services'>Taux de Change</a></li>

                  <li><a class="nav-link" routerLinkActive="active" routerLink='/contact'>Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="search-box">
            <input type="text" class="search-txt" placeholder="Search">
            <a class="search-btn">
              <img src="../../assets/images/search_icon.png" alt="#" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!-- End header -->


<!-- Start Banner -->
<div class="section inner_page_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_title">
          <h3>Échange</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="full text_align_right_img">
          <img src="../../assets/images/img1.png" alt="#" />
        </div>
      </div>
      <div class="col-md-6 layout_padding">
        <div class="full paddding_left_15">
          <div class="heading_main text_align_left">
            <h2><span class="theme_color">Échanger</span> votre devise</h2>
          </div>
        </div>
        <div class="full paddding_left_15">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="full paddding_left_15">
          <a class="main_bt" href="https://www.xe.com/fr/" target="_blank">Change Devise ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->

<!-- Start Footer -->
<footer class="footer-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 white_fonts">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="full">
              <img class="img-responsive" src="../../assets/images/footer_logo.png" alt="#" />
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-1"></div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="full">
              <h3>Liens Directes</h3>
            </div>
            <div class="full">
              <ul class="menu_footer">
                <li><a href="home.html">> Acceuil</a></li>
                <li><a routerLink='/about'>> À propos</a></li>
                <li><a routerLink='/exchange'>> Échange</a></li>
                <li><a routerLink='/services'>> Taux de Change</a></li>

                <li><a routerLink='/contact'>> Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="full">
              <div class="footer_blog full white_fonts">
                <h3>Contactez nous</h3>
                <ul class="full">
                  <li><img src="../../assets/images/i5.png"><span>London 145<br>Tunisia,Ariana</span></li>
                  <li><img src="../../assets/images/i6.png"><span>exchang@gmail.com</span></li>
                  <li><img src="../../assets/images/i7.png"><span>+21644388490</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
<div class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="crp">© Copyrights 2021.</p>
      </div>
    </div>
  </div>
</div>

<a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
